<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IngresoEmpleado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <br>
    <script>console.log("Requisito: administrador debe logarse");</script>
        <div class="d-flex">
        <div class="card col-sm-5"> 
            <div class="card-body"> 
                <form action="/registrarEmpleado" method="post"> 
                     <center> <b>  <label>Ingresar Empleado</label></b></center>
                     <div class="form-group">
                         <label>CUI</label>
                         <input type="number" name="dpi" class="form-control" id="dpi" >
                     </div>
                     <div class="form-group">
                         <label>Nombre completo</label>
                         <input type="text" name="nombre"  class="form-control" id="nombre">
                     </div>
                     <div class="form-group">
                         <label>No de cuenta</label>
                         <input type="text" name="no_cuenta" class="form-control" id="no_cuenta">
                     </div>
                     <div class="form-group">
                        <label>Cargo</label>
                        <select name="rango" id="rango">
                            <option value="1">ADMIN</option>
                            <option value="3">SECRETARIA</option>
                            <option value="2">LABORATORIAS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="text" name="key" class="form-control" id="key">
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" name="telefono" class="form-control" id="telefono">
                    </div>
                     <br>                    
                     <button class="btn btn-info"  > Agregar </button>
                 </form>    
            </div>    
        </div>
        <div class="col-sm-7">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>CUI</th>
                        <th>Departamento</th>
                        <th>cargo</th>
                    </tr>
                </thead>
                <tbody>

                    <tr id="caja">
                        <td>
                            <a href="../registrarEmpleado" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>

                </tbody>
            </table>   
       
        </div>
            
        </div>   
    <script src="Js/App.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>