
    <link rel="stylesheet" href="Css/buscador.css">
    <link rel="stylesheet" href="Css/Table.css">

    <!-- aqui esta el buscador-->
    <div class="wrap ">
        <div class="search " >
           <input type="text" id="DPI" class="searchTerm" placeholder="¿Cual DPI?">
        </div>
        <div class="search" >
            <input type="number" id="NIT" class="searchTerm" placeholder="¿Cual NIT?">
         </div>
         <div class="search" >
            <input type="number" id="Nombre" class="searchTerm" placeholder="¿Como se llama?">
         </div>
         <div class="search" >
            <input type="number" id="Edad" class="searchTerm" placeholder="¿Cual es la edad?">
         </div>
         <div class="search" >
            <input type="number" id="Telefono" class="searchTerm" placeholder="¿Cual es el Telefono?">
         </div>
        <button type="submit" class="searchButton" onclick="buscarCliente()">
        <i class="fa fa-search">Buscar</i>
        </button>
        </div>
     <!-- aqui esta la tabla -->
        <table class="container">
            <thead>
                <tr>
                    <th><h1>DPI</h1></th>
                    <th><h1>NIT</h1></th>
                    <th><h1>Nombre</h1></th>
                    <th><h1>Edad</h1></th>
                    <th><h1>Sexo</h1></th>
                    <th><h1>Telefono</h1></th>
                    <th><h1>Fecha de nacimiento</h1></th>
                    <th><h1>Asignar</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0123456789123</td>
                    <td>0123456789123</td>
                    <td>Benjamin de Jesus Perez Aguilar</td>
                    <td>23</td>
                    <td>HOMBRE</td>
                    <td>4678922</td>
                    <td>28-2-07-1997</td>
                    <td><button class="searchButton" onclick="asignar()">resigistrar</button></td>
                </tr>
            </tbody>
        </table>
<script src="Js/Examen.js"></script>
