<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="Css/buscador.css">
    <link rel="stylesheet" href="Css/Table.css">
</head>
<body>
    <!-- aqui esta el buscador-->
    <div class="wrap ">
        <div class="search " >
           <input type="text" class="searchTerm" placeholder="¿Como se llama?">
           
        </div>
        <div class="search" >
            <input type="number" class="searchTerm" placeholder="¿NIT?">
            
         </div>
         <div class="search" >
            <input type="number" class="searchTerm" placeholder="¿Edad?">
            
         </div>
         <div class="search" >
            <input type="number" class="searchTerm" placeholder="¿Telefono?">
            
         </div>
        <button type="submit" class="searchButton">
        <i class="fa fa-search">Buscar</i>
        </button>
        </div>
     <!-- aqui esta la tabla -->
        <table class="container">
            <thead>
                <tr>
                    <th><h1>DPI</h1></th>
                    <th><h1>NIT</h1></th>
                    <th><h1>Nombre</h1></th>
                    <th><h1>Edad</h1></th>
                    <th><h1>Sexo</h1></th>
                    <th><h1>Telefono</h1></th>
                    <th><h1>Fecha de nacimiento</h1></th>
                    <th><h1>Asignar</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0123456789123</td>
                    <td>0123456789123</td>
                    <td>Benjamin de Jesus Perez Aguilar</td>
                    <td>23</td>
                    <td>HOMBRE</td>
                    <td>4678922</td>
                    <td>28-2-07-1997</td>
                    <td><button class="searchButton">resigistrar</button></td>
                </tr>
            </tbody>
        </table>
</body>
</html>