<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Css/EstiloPagina.css" rel="stylesheet" />
    <link rel="shortcut icon" href="#">
    <title>Cambiar Datos Paciente</title>
</head>
<body>
    <script>console.log("Se debe de Ingresar el Numero de Dpi del Paciente")</script>
    
 <nav class="navegacion">
    <ul>
        <li class="nave">
            <a href="">otra pagina</a>
        </li>
        <li class="nave">
            <a href="">otra pagina</a>
        </li>
    </ul>
 </nav>
 <div class="contenedor">
     <div class="left">
         <h2>Buscar Paciente</h2>
        <input name="rangoinf" type="tel" placeholder="DPI Paciente">
         <button type="button" onclick="myFunction()">Buscar</button>
         <button type="button" onclick="capturedata()" disabled='true' id="buttonConfirm" >Confirmar</button>
     </div>
     <div class="rigt" id="divocul" >
         <label for="Identificacion">No Identificacion</label><input type="tel" name="Identificacion" placeholder="DPI">
         <br><label for="nit">Nit</label><input type="tel" name="nit" placeholder="NIT">
         <br><label for="nombres">Nombres</label><input type="text" name="nombres" placeholder="Nombres y Apellidos">
         <br><label for="edad">Edad</label><input type="tel" name="edad" placeholder="Edad">
         <br><label for="sexo">Sexo</label><select name="sexo" id="" >
             <option value="Masculino">Masculino</option>
             <option value="Femenino">Femenino</option>
         </select>
         <br><label for="rangoinf">Direccion</label><input name="direccion" type="text" placeholder="Direccion">
         <br><label for="rangosup">Telefono</label><input name="Telefono" type="tel" placeholder="Telefono">
         <br><label for="rangosup">Fecha de Nacimiento</label><input name="Nacimiento" type="date" placeholder="Unidad de medida">
     </div>
 </div>
<script src="/Js/DatosPaciente.js"></script>
</body>
</html>