<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Css/EstiloPagina.css" rel="stylesheet" />
    <link rel="shortcut icon" href="#">
    <title>Cambiar Datos Paciente</title>
</head>
<body>
    <script>console.log("Debe Existir Examenes en la lista")</script>
    
 <nav class="navegacion">
    <ul>
        <li class="nave">
            <a href="">otra pagina</a>
        </li>
        <li class="nave">
            <a href="">otra pagina</a>
        </li>
    </ul>
 </nav>
 <div class="contenedor">
     <div class="left">
         <h2>Buscar Resultados</h2>
        <input name="rangoinf" type="tel" placeholder="No. Orden">
         <button type="button" onclick="myFunction()">Buscar</button>
         <button type="button" onclick="capturedata()" disabled='true' id="buttonConfirm" >Confirmar</button>
     </div>
     <div class="rigt" id="divocul" >
         <h1>Aca se dibuja una hoja con los resultados</h1>
         <h1>o se genera un link para descargar un pdf con los resultados</h1>
     </div>
 </div>
<script>function myFunction(){
        let divocul = document.querySelector("#divocul");
        if(divocul.style.visibility === 'visible'){
            divocul.style.visibility = 'hidden';
            document.getElementById("buttonConfirm").disabled = true;
        }else{
            divocul.style.visibility = 'visible';
            document.getElementById("buttonConfirm").disabled = false;
        }
    }
</script>
</body>
</html>